include ./mixin.pug
doctype html

html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(charset="utf-8")
    include ./common_state.pug
    block style
    block links
    block common_title
      title BLOG
    include counter.pug
    block custom_state
  body
    block doms
      #root
    block scripts