doctype html

html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(charset="utf-8")
    include ./common_state.pug
    block links
    | !{ styles }
    block common_title
      title TodoList 
    include counter.pug
    block custom_state
  body
    block doms
      #root !{ html }
    | !{ scripts }